body {
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    margin: 0;
    padding: 2rem;
  }
  
  h1 {
    margin-bottom: 1rem;
    color: #8c8787;
  }
  
  .board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
  }
  
  .cell {
    background-color: #fff;
    border: 2px solid #ccc;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .cell:hover {
    background-color: #e6e6e6;
  }
  
  .status {
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fffcfc;
  }
  
  button {
    margin-top: 5rex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background-color: #4CAF50;
    color: whitesmoke;
    cursor:pointer;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  